name: coverage

on:
  push:
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.2
      - name: Install kcov
        run: sudo apt-get update && sudo apt-get install -y kcov
      - name: Run coverage
        run: zig build coverage -Dcoverage=true -Doptimize=Debug
      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          files: coverage/kcov/test/cobertura.xml
          fail_ci_if_error: true
          slug: bigboss2063/crucible
          token: ${{ secrets.CODECOV_TOKEN }}
